*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(rgba(2,6,23,.94),rgba(2,6,23,.94)),
    linear-gradient(135deg,#020617,#0f172a,#111827);

    padding:20px;
}

/* MAIN CARD */

.login-card{

    width:100%;
    max-width:520px;

    background:#020b24;

    border:1px solid rgba(255,255,255,.06);

    border-radius:28px;

    padding:40px;

    box-shadow:
    0 10px 35px rgba(0,0,0,.45),
    0 0 30px rgba(59,130,246,.12);
}

/* LOGO */

.login-logo{

    text-align:center;

    margin-bottom:25px;
}

.login-logo img{

    width:150px;
}

/* TITLE */

.login-card h2{

    color:white;

    text-align:center;

    font-size:32px;

    font-weight:800;

    margin-bottom:40px;
}

/* INPUTS */

.login-card input{

    width:100%;

    padding:18px;

    border:none;
    outline:none;

    border-radius:16px;

    background:#1e293b;

    color:white;

    font-size:17px;

    margin-bottom:22px;

    transition:.3s;
}

.login-card input::placeholder{

    color:#94a3b8;
}

.login-card input:focus{

    box-shadow:
    0 0 0 2px #60a5fa;
}

/* FORGOT PASSWORD */

.login-links{

    text-align:right;

    margin-bottom:28px;
}

.login-links a{

    color:#cbd5e1;

    text-decoration:none;

    font-size:15px;
}

.login-links a:hover{

    color:#60a5fa;
}

/* LOGIN BUTTON */

.login-btn{

    width:100%;

    padding:18px;

    border:none;

    border-radius:16px;

    background:white;

    color:#020617;

    font-size:20px;

    font-weight:800;

    cursor:pointer;

    transition:.3s;
}

.login-btn:hover{

    background:#f8fafc;

    transform:translateY(-2px);
}

/* SIGNUP */

.auth-switch{

    margin-top:25px;

    text-align:center;

    color:#cbd5e1;

    font-size:16px;
}

.auth-switch a{

    color:#60a5fa;

    text-decoration:none;

    font-weight:700;

    margin-left:5px;
}

.auth-switch a:hover{

    text-decoration:underline;
}

/* ERROR */

.error-box{

    background:rgba(239,68,68,.10);

    border:1px solid rgba(239,68,68,.25);

    color:#fca5a5;

    padding:14px;

    border-radius:12px;

    margin-bottom:20px;

    text-align:center;
}

/* MOBILE */

@media(max-width:600px){

    .login-card{

        padding:30px 22px;
    }

    .login-card h2{

        font-size:28px;
    }

    .login-logo img{

        width:120px;
    }
}